<html>
   <head>
      <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
      <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, telephone=no' />
      <title>Payment</title>
   </head>

   <style>
      p { margin: 0; padding: 0; }
   </style>

   <body style='padding: 0; margin: 0; -webkit-text-size-adjust: none !important'>
      <div style='background-color: #0e221d;'>
         <div style='color: #00ffc3; padding: 20px 30px;'>
            <h2 style='text-align: center;'>You have received a new payment</h2>
            <div style='text-align: left;'>Customer: {{username}}</div>
            <div style='text-align: left;'>Email: {{email}}</div>
            <div style='text-align: left;'>USD: {{usd}}</div>
            <div style='text-align: left;'>Type: {{type}}</div>
            <div style='text-align: left;'>Coin: {{coin}}</div>
         </div>
      </div>
   </body>
</html>